---
layout: none
title: "home page"
---
<div>
{% highlight shell %}
{% assign parent_dir = "blogs" %}
mkdir -p -v {{parent_dir}}
{% for course in site.data.directory_structure.courses %}
mkdir -p -v {{parent_dir}}/{{course.name}}
{% for sem in course.semister %}
{% if sem.status == "activated" %}
mkdir -p -v {{parent_dir}}/{{course.name}}/{{sem.number }} 
{% for sub in sem.subject %}
mkdir -p -v {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}
{% for unit in sub.units %}
mkdir -p -v {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/

if [ -z "$(ls -A {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/ )" ]; then
    echo "Empty {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/"
    touch {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md

    echo '---' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
    echo ' ' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
    echo 'layout: blog' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
    echo 'course_data: {{course.name}}' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
    echo 'semister_data: {{sem.number }}' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
    echo 'course_code_data: {{sub.code}}' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
    echo 'unit_data: {{unit.number}}' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
    echo '---' >> {{parent_dir}}/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit.number}}/index.md
else
    echo "Not Empty"
fi

{% endfor %} 
{% endfor %} 
{% endif %}
{% endfor %} 
{% endfor %}
{% endhighlight %}
</div>