
<div class="block-container appendix-container appendix">
    {% for course in site.data.directory_structure.courses %}
        <div class="block-container dropdown-parent dropdown-parent-{{ course.name }} ">

            <label class="dropdown-reciever-magnet display-block text-align-center" for="checkbox-reciever-{{ course.name }}">
                <span class="course-name"> {{ course.name }} </span>
            </label>

            <input type="checkbox" id="checkbox-reciever-{{ course.name }}" />
            <div class="dropdown-content dropdown-content-{{ course.name }}">
                
                <div class="block-container appendix-container appendix-container-parent">
                    {% for sem in course.semister %}  <!-- sem.number -->
                        {% if sem.status == "activated" %}
                        
                            <div class="block-container dropdown-parent dropdown-parent-{{ course.name }}-{{sem.number}}">

                                <label class="dropdown-reciever-magnet" for="checkbox-reciever-{{ course.name }}-{{ sem.number }}">
                                    <span class="semister-number"> Semister {{ sem.number }} </span>
                                </label>

                                <input type="checkbox" id="checkbox-reciever-{{ course.name }}-{{ sem.number }}" />
                                <div class="dropdown-content dropdown-content-{{ course.name }}-{{ sem.number }}"> 

                                                <div class="block-container">
                                                    {% for sub in sem.subject %} <!-- sub.name sub.code --> {% assign unit_accessor = sub.units | first %}
                                                        <div class="subject-title"> <a href="{{ site.baseurl }}/{% link blogs/{{course.name}}/{{sem.number }}/{{sub.code}}/{{unit_accessor.number}}/index.html %}" > {{sub.name}} {{sub.code}} </a> </div>
                                                        <!--
                                                        <div class="block-container dropdown-parent dropdown-parent-{{ course.name }}-{{sem.number}}-{{sub.code}}">
                                                            
                                                            
                                                            
                                                            <label class="dropdown-reciever-magnet" for="checkbox-reciever-{{ course.name }}-{{ sem.number }}-{{sub.code}}">
                                                                <span class="subject-title"> {{sub.name}} {{sub.code}} </span>
                                                            </label>
                                                            
                                                            <input type="checkbox" id="checkbox-reciever-{{ course.name }}-{{ sem.number }}-{{sub.code}}" />
                                                            <div class="dropdown-content dropdown-content-{{ course.name }}-{{ sem.number }}-{{sub.code}}"> 


                                                                content 1 <br>
                                                                content 2


                                                            
                                                            </div> 
                                                        </div>
                                                        -->
                                                    {% endfor %}
                                                </div>
                                
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    
    {% endfor %}
</div>