
<section id="footer">
    <div class="container">
        <header>
            <h2> About initative? <strong>Get in touch:</strong></h2>
        </header>
        <div class="row">
            <div class="col-12 col-12-medium">
                <section>
                    <p>About initative : Erat lorem ipsum veroeros consequat magna tempus lorem ipsum consequat Phaselamet
                    mollis tortor congue. Sed quis mauris sit amet magna accumsan tristique. Curabitur
                    leo nibh, rutrum eu malesuada.</p>
                    <div class="row">
                        <div class="col-6 col-12-small">
                            <ul class="icons">
                                <li class="icon solid fa-home">
                                    {{ site.street_address_l1}}
                                    {{ site.street_address_l2}}
                                    {{ site.street_address_l3}}
                                    {{ site.street_address_l4}}
                                    {{ site.street_address_l5}}
                                </li>
                                <li class="icon solid fa-phone">
                                    <a href="tel:{{site.phone_no_lnk}}"> {{site.phone_no}} </a>
                                </li>
                                <li class="icon solid fa-envelope">
                                    <a href="mailto: {{site.email}}">{{site.email}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 col-12-small">
                            <ul class="icons">
                                <li class="icon brands fa-twitter">
                                    <a href="https://twitter.com/{{site.twitter_username}}">@twitter</a>
                                </li>
                                <li class="icon brands fa-instagram">
                                    <a href="https://www.instagram.com/{{site.instagram_username}}">@insta</a>
                                </li>
                                <li class="icon brands fa-facebook-f">
                                    <a href="https://github.com/{{site.github_username}}">@github</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id="copyright" class="container">
        <ul class="links">
            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">Ccopyright : </a></li>
        </ul>
    </div>
</section>

