<!-- Features -->
<section id="features" class="section-trending-subjects-parent">
    <div class="container section-trending-subjects border-bottom-thick">
        <header>
            <h2>Trending <strong> {{page.showcase_title}} </strong>!</h2>
        </header>
        <div class="row aln-center ">
            <div class="col-4 col-6-medium col-12-small">

                <!-- Feature -->
                    <section>
                        <header>
                            <h3> Course name : Digital electronics</h3>
                        </header>
                        <p>This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction.  
                            <ul class="actions">
                                <li><a href="" class="button icon solid fa-file">Continue Reading</a></li>
                            </ul>
                        </p>
                    </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                    <section>
                        <header>
                            <h3> Course name : Digital electronics</h3>
                        </header>
                        <p>This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction. 
                            This is Lorum Ipsum reference introduction.  
                            <ul class="actions">
                                <li><a href="" class="button icon solid fa-file">Continue Reading</a></li>
                            </ul>
                        </p>
                    </section>

            </div>
            <div class="col-4 col-6-medium col-12-small">

                <section>
                    <header>
                        <h3> Course name : Digital electronics</h3>
                    </header>
                    <p>This is Lorum Ipsum reference introduction. 
                        This is Lorum Ipsum reference introduction. 
                        This is Lorum Ipsum reference introduction. 
                        This is Lorum Ipsum reference introduction. 
                        This is Lorum Ipsum reference introduction. 
                        This is Lorum Ipsum reference introduction. 
                        <ul class="actions">
                            <li><a href="" class="button icon solid fa-file">Continue Reading</a></li>
                        </ul>
                    </p>
                        
                </section>

            </div>
            <div class="col-12">
                <ul class="actions">
                    <li><a href={{site.baseurl}}{% link appendix.md %} class="button icon solid fa-file">View all {{page.showcase_title}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>